<div class="container mt-5">
  <h2 class="text-center text-primary fw-bold">select for processing</h2>
  <div class="scroll-container">
    <div class="scroll-content">
        <div class="card hover-effect" *ngFor="let img of images">
            <!-- Image Section -->
            <img [src]="img.url" [alt]="img.name" class="img-fluid rounded-top"
                 (click)="navigateToImage(img.id)" style="cursor: pointer;">

            <!-- Card Body -->
            <div class="card-body">
                <h5 class="fw-bold text-dark text-center">{{ img.name }}</h5>
                <p class="text-muted description-text">{{ img.description }}</p> 
            </div>
        </div>
    </div>
</div>


</div>

